body {
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

main {
    display: grid;
    place-items: center;
}

ul {
    list-style-type: none;
}

li {
    text-decoration: none;
    line-height: 30px;
}